<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
  <meta name="viewport" content="width=device-width", initial-scale="1.0, minimum-scale=1.0">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/home.css}" type="text/css">
</head>
<body>
<div class="nav">
  <img class="nav_img" src="images/home5.jpg"/>
    <div class="navbar">
      <a class="logo" href="#" align="left">University<span>Rwanda</span></a>
        <ul class="primary-nav" align="right">
          <li><a class="ah" href="#">Home</a></li>
          <li><a class="ah" href="#">About Us</a></li>
          <li><a class="ah" href="/employee/new">Department</a></li>
          <li><a class="ah" href="/login">Sign-in</a></li>
        </ul>
    </div>
  <hr/>
</div>
<section class="firstsection">
  <h1>Latest News</h1>
  <div class="dep">
    <img class="dep_img" src="images/dep1.jpg"/>
    <div class="dep_rect">
      <a class="dep_title" href="#">School of ICT</a>
    </div>
  </div>
  <div class="dep">
    <img class="dep_img" src="images/dep1.jpg"/>
    <div class="dep_rect">
      <a class="dep_title" href="#">School of Science</a>
    </div>
  </div>
  <div class="dep">
    <img class="dep_img" src="images/dep1.jpg"/>
    <div class="dep_rect">
      <a class="dep_title" href="#">School of Engineering</a>
    </div>
  </div>
  <div class="dep">
    <img class="dep_img" src="images/dep1.jpg"/>
    <div class="dep_rect">
      <a class="dep_title" href="#">Department of CSE</a>
    </div>
  </div>
  <div class="right_column">
    <div class="undraw_img">
      <img src="images/ur2.jpg"/>
    </div>
  </div>
</section>
</body>
</html>